/* Input Textarea */
.gpt-input-textarea {
    width: 100%;
}

/* Max Tokens */
.max-tokens-container,
.max-tokens-input {
	margin-right: 1rem;
}

.max-tokens-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.max-tokens-description {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
}

.max-tokens-input {
    width: 30%;
    height: calc(1.5em + 1.25em);
    text-align: right;
}

/* Output Container */
.output-container {
    white-space: pre-wrap;
    user-select: text;
}

.display-tokens-usage-container {
	font-style: italic;
	text-align: right;
    font-size: 12px;
}

/* Buttons */
.buttons-bottom-container {
    display: flex;
    margin-top: 1rem;
}

/* Settings */
.settings-default-prompt-container {
	width: 30%;
}

.settings-polite-message {
	margin-bottom: 1rem;
	font-style: italic;
}

.settings-github-link-container {
	margin-top: 2rem;
	text-align: center;
}

.settings-github-link {
	color: #0366d6;
	text-decoration: none;
	border: 1px solid #0366d6;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	transition: all 0.3s;
}

.settings-github-link:hover {
	background-color: #0366d6;
	color: white;
	text-decoration: none;
}

.settings-github-logo {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
}
