name: FOSSA

on:
  push:
    branches:
      - master
  release:
    types: [created]

jobs:
  analysis:
    runs-on: ubuntu-latest
    environment: staging

    strategy:
      fail-fast: false

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run FOSSA Scan
        uses: fossas/fossa-action@v1.3.1
        with:
          api-key: ${{ secrets.FOSSA_API }}
